# Copier ce fichier en .env et renseigner les valeurs
GEMINI_API_KEY=votre_cle_gemini
PG_DB=Projet_stage
PG_USER=postgres
PG_PASSWORD=votre_mot_de_passe
PG_HOST=localhost
PG_PORT=5432
SECRET_KEY=changez-moi-en-production
