# Configuration de la base de données PostgreSQL
PG_DB=Projet_stage
PG_USER=postgres
PG_PASSWORD=1314
PG_HOST=localhost
PG_PORT=5432

# Configuration JWT
SECRET_KEY=your-secret-key-change-in-production-morocco-2030-risk-analysis

# Configuration API externe
GEMINI_API_KEY=your_gemini_api_key_here
OPENWEATHER_API_KEY=your_openweather_api_key_here
